<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fitness Log</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
<!--                 <li>
                    <a href="journal.html" class="btn">
                        <i class="material-icons">assignment</i>
                        Journal
                    </a>
                </li> -->
<!--                 <li>
                    <a href="food.html" class="btn">
                        <i class="material-icons">restaurant</i>
                        Food
                    </a>
                </li> -->
<!--                 <li>
                    <a href="pictures.html" class="btn">
                        <i class="material-icons">collections</i>
                        Progress Pics
                    </a>
                </li> -->
                <li>
                    <a href="exercise.html" class="btn">
                        <i class="material-icons">fitness_center</i>
                        Workouts
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">settings</i>
                        My Account
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">My Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>